SolucionSoap.Cliente.MVC/Connected Services/ServicioComprobanteProducto/ComprobanteProductoRepositorio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ComprobanteProductoRepositorio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50098/Repositorio/ComprobanteProductoRepositorio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50098/Repositorio/ComprobanteProductoRepositorio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50098/Repositorio/ComprobanteProductoRepositorio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SolucionSoap.Servidor.WCF.Modelo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComprobanteProductoRepositorio_Registrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar" />
  </wsdl:message>
  <wsdl:message name="IComprobanteProductoRepositorio_Registrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="IComprobanteProductoRepositorio_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IComprobanteProductoRepositorio_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IComprobanteProductoRepositorio_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IComprobanteProductoRepositorio_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IComprobanteProductoRepositorio_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IComprobanteProductoRepositorio_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IComprobanteProductoRepositorio_ListarPorIdentificadorComprobante_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorIdentificadorComprobante" />
  </wsdl:message>
  <wsdl:message name="IComprobanteProductoRepositorio_ListarPorIdentificadorComprobante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorIdentificadorComprobanteResponse" />
  </wsdl:message>
  <wsdl:message name="IComprobanteProductoRepositorio_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IComprobanteProductoRepositorio_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:portType name="IComprobanteProductoRepositorio">
    <wsdl:operation name="Registrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IComprobanteProductoRepositorio/Registrar" message="tns:IComprobanteProductoRepositorio_Registrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComprobanteProductoRepositorio/RegistrarResponse" message="tns:IComprobanteProductoRepositorio_Registrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IComprobanteProductoRepositorio/Actualizar" message="tns:IComprobanteProductoRepositorio_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComprobanteProductoRepositorio/ActualizarResponse" message="tns:IComprobanteProductoRepositorio_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IComprobanteProductoRepositorio/Eliminar" message="tns:IComprobanteProductoRepositorio_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComprobanteProductoRepositorio/EliminarResponse" message="tns:IComprobanteProductoRepositorio_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IComprobanteProductoRepositorio/Obtener" message="tns:IComprobanteProductoRepositorio_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComprobanteProductoRepositorio/ObtenerResponse" message="tns:IComprobanteProductoRepositorio_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPorIdentificadorComprobante">
      <wsdl:input wsaw:Action="http://tempuri.org/IComprobanteProductoRepositorio/ListarPorIdentificadorComprobante" message="tns:IComprobanteProductoRepositorio_ListarPorIdentificadorComprobante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComprobanteProductoRepositorio/ListarPorIdentificadorComprobanteResponse" message="tns:IComprobanteProductoRepositorio_ListarPorIdentificadorComprobante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IComprobanteProductoRepositorio/Listar" message="tns:IComprobanteProductoRepositorio_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComprobanteProductoRepositorio/ListarResponse" message="tns:IComprobanteProductoRepositorio_Listar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IComprobanteProductoRepositorio" type="tns:IComprobanteProductoRepositorio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registrar">
      <soap:operation soapAction="http://tempuri.org/IComprobanteProductoRepositorio/Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IComprobanteProductoRepositorio/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IComprobanteProductoRepositorio/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IComprobanteProductoRepositorio/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorIdentificadorComprobante">
      <soap:operation soapAction="http://tempuri.org/IComprobanteProductoRepositorio/ListarPorIdentificadorComprobante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IComprobanteProductoRepositorio/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComprobanteProductoRepositorio">
    <wsdl:port name="BasicHttpBinding_IComprobanteProductoRepositorio" binding="tns:BasicHttpBinding_IComprobanteProductoRepositorio">
      <soap:address location="http://localhost:50098/Repositorio/ComprobanteProductoRepositorio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>