SolucionSoap.Cliente.MVC/Connected Services/ServicioComprobanteProducto/ComprobanteProductoRepositorio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50098/Repositorio/ComprobanteProductoRepositorio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SolucionSoap.Servidor.WCF.Modelo" />
  <xs:element name="Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SolucionSoap.Servidor.WCF.Modelo" minOccurs="0" name="comprobanteProductoModelo" nillable="true" type="q1:ComprobanteProductoModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SolucionSoap.Servidor.WCF.Modelo" minOccurs="0" name="RegistrarResult" nillable="true" type="q2:RegistrarRespuestaModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SolucionSoap.Servidor.WCF.Modelo" minOccurs="0" name="comprobanteProductoModelo" nillable="true" type="q3:ComprobanteProductoModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SolucionSoap.Servidor.WCF.Modelo" minOccurs="0" name="ActualizarResult" nillable="true" type="q4:ActualizarRespuestaModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdentificadorComprobanteProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SolucionSoap.Servidor.WCF.Modelo" minOccurs="0" name="EliminarResult" nillable="true" type="q5:EliminarRespuestaModelo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdentificadorComprobanteProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SolucionSoap.Servidor.WCF.Modelo" minOccurs="0" name="ObtenerResult" nillable="true" type="q6:ObtenerRespuestaModeloOfComprobanteProductoModeloKTVAo3T5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorIdentificadorComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdentificadorComprobante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorIdentificadorComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SolucionSoap.Servidor.WCF.Modelo" minOccurs="0" name="ListarPorIdentificadorComprobanteResult" nillable="true" type="q7:ListarRespuestaModeloOfComprobanteProductoModeloKTVAo3T5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SolucionSoap.Servidor.WCF.Modelo" minOccurs="0" name="ListarResult" nillable="true" type="q8:ListarRespuestaModeloOfComprobanteProductoModeloKTVAo3T5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>